In [1]:
import pandas as pd
import sqlite3
import os

# Create the output folder if not exists
os.makedirs("loaded_data", exist_ok=True)

# File paths
full_csv = "transformed_full.csv"
incremental_csv = "transformed_incremental.csv"
full_db_path = "loaded_data/full_data.db"
incremental_db_path = "loaded_data/incremental_data.db"

In [2]:
# Load CSV
df_full = pd.read_csv(full_csv)

# Connect to SQLite
conn_full = sqlite3.connect(full_db_path)

# Save DataFrame to SQLite
df_full.to_sql("full_data", conn_full, if_exists="replace", index=False)

# Confirm success
print("✅ Loaded full dataset into SQLite: loaded_data/full_data.db")
conn_full.close()

✅ Loaded full dataset into SQLite: loaded_data/full_data.db

In [6]:
# Load CSV
df_incremental = pd.read_csv(incremental_csv)

# Connect to SQLite
conn_inc = sqlite3.connect(incremental_db_path)

# Save DataFrame
df_incremental.to_sql("incremental_data", conn_inc, if_exists="replace", index=False)

# Confirm success
print("✅ Loaded incremental dataset into SQLite: loaded_data/incremental_data.db")
conn_inc.close()

✅ Loaded incremental dataset into SQLite: loaded_data/incremental_data.db

In [5]:
# Reconnect to DB to preview tables
conn_full = sqlite3.connect(full_db_path)
df_check = pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full)
print(" Preview of full_data table:")
display(df_check)
conn_full.close()

 Preview of full_data table:

   user_id  activity device_type         last_updated activity_type
0  user003    logout     desktop  2025-04-01 08:28:00         Other
1  user003    logout      tablet  2025-04-01 07:04:00         Other
2  user008  purchase      mobile  2025-04-01 11:45:00      Purchase
3  user002     login     desktop  2025-04-01 04:35:00         Login
4  user009     login     desktop  2025-04-01 19:44:00         Login